h1 {
    text-align: center;
    padding-top: 4rem;
}

input[type=text], select {
    width: 100%;
    padding: 1vmax;
    border: 1px solid rgb(142, 142, 142);
    border-radius: 4px; /*rounded corners*/
    box-sizing: border-box; /* padding and width stays in place */
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical 
  }

input[type=email] {
    width: 100%;
    padding: 12px;
    border: 1px solid rgb(142, 142, 142);
    border-radius: 4px; /*rounded corners*/
    box-sizing: border-box; /* padding and width stays in place */
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical
    }

textarea[type=messages] {
    width: 100%;
    padding: 12px;
    border: 1px solid rgb(142, 142, 142);
    border-radius: 4px; /*rounded corners*/
    box-sizing: border-box; /* padding and width stays in place */
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical
}


  /* Style the submit button with a specific background color etc */
  .btn {
    background-color: white;
    color: rgb(142, 142, 142);
    padding: 12px 20px;
    border: 1px solid rgb(142, 142, 142);
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* Button change when hovering */
  .btn:hover {
    background-color: rgb(142, 142, 142);
    color: white;
  }
  
  /*Container settings*/
  .container {
    align-items: center;
    background-color: white;
    padding-top: 4rem;
    font-size: 1.3rem;
    overflow: hidden;
    padding-left: 15vw;
    padding-right: 15vw;
 }

 h2 {
    padding-bottom: 2rem;
}
 .resumeDownload {
    padding-top: 4rem;
    padding-bottom: 4rem;
    text-align: center;
 }

  .download {
    background-color: white;
    color: rgb(142, 142, 142);
    padding: 12px 20px;
    border: 1px solid rgb(142, 142, 142);
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
  }

  .download:hover {
    background-color: rgb(142, 142, 142);
    color: white;
    text-decoration: none;
  }