.name {
    text-align: center;
    padding-top: 15rem;
    font-size: 8rem;
    font-weight: normal;
}

.shortTitle {
    text-align: center;
    padding-top: 2rem;
    font-weight: bold;
    font-size: 1.5rem;
}

.face {
    margin-top: 5rem;
    display: block;
    width: 20rem;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    border-top-left-radius: 100px !important;
    border-top-right-radius: 100px !important;
    border-bottom-left-radius: 100px !important;
    border-bottom-right-radius: 100px !important;
}

.shortDesc {
    text-align: center;
    font-size: 1.2rem;
    margin-top: 5rem;
    margin-left: 30vw;
    margin-right: 30vw;
}

.shortDesc2{
    text-align: center;
    font-size: 1.2rem;
    margin-top: 5rem;
    margin-left: 30vw;
    margin-right: 30vw;
}