.name {
    text-align: center;
    padding-top: 12rem;
    font-size: 6vw;
    font-weight: normal;
}

.shortTitle {
    text-align: center;
    padding-top: 2rem;
    font-weight: bold;
    font-size: 1.2vw;
}

.face {
    margin-top: 5rem;
    display: block;
    width: 12vw;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    border-top-left-radius: 100px !important;
    border-top-right-radius: 100px !important;
    border-bottom-left-radius: 100px !important;
    border-bottom-right-radius: 100px !important;
}

.shortDesc {
    text-align: center;
    font-size: 1vw;
    margin-top: 5rem;
    margin-left: 20vw;
    margin-right: 20vw;
}

.shortDesc2{
    text-align: center;
    font-size: 1vw;
    margin-top: 5rem;
    margin-left: 20vw;
    margin-right: 20vw;
    padding-bottom: 9rem;
}