.name {
    text-align: center;
    padding-top: 12rem;
    font-size: 4.3rem;
    font-weight: normal;
}

.shortTitle {
    text-align: center;
    padding-top: 2rem;
    font-weight: bold;
    font-size: 1.2rem;
}

.face {
    margin-top: 5rem;
    display: block;
    width: 10rem;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    border-top-left-radius: 100px !important;
    border-top-right-radius: 100px !important;
    border-bottom-left-radius: 100px !important;
    border-bottom-right-radius: 100px !important;
}

.shortDesc {
    text-align: center;
    font-size: 1.3rem;
    margin-top: 5rem;
    padding-left: 20vmin;
    padding-right: 20vmin;
}

.shortDesc2{
    text-align: center;
    font-size: 1.3rem;
    margin-top: 5rem;
    margin-left: 20vmin;
    margin-right: 20vmin;
    padding-bottom: 9rem;
}