h1 {
    text-align: center;
    padding-top: 6rem;
    font-size: 3rem;
    font-weight: normal;
}

body {
    margin: 0;
}

.container {
    padding-top: 7rem;
    display: flex;
    align-items: center;
    justify-content: center
}

.image {
    flex-basis: 40%; 
    padding-left: 10vw;
}

.text {
    padding-left: 20px;
    padding-right: 10vw;
    font-size: .8rem;
}

.darpet {
    width:12rem;
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
    border: 2px solid black;
    margin-right: 20px;
}

